nav {
  display: flex;
  justify-content: center;
  margin: 40px;

  button {
    padding: 20px;
    font-size: 24px;
    margin: 10px;
    background-color: #16acc9;
    color: #fff;
    opacity: 0.85;

    &:not(.pageBtn):first-of-type {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    &:not(.pageBtn):last-of-type {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &:hover {
      opacity: 1;
      scale: 1.1;
      cursor: pointer;
    }
  }
}

#btnKeeper {
  button {
    width: 60px;
  }
}
